@page
@model RVPark.Pages.Admin.Employees.IndexModel
@{
}
<div class="border container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">User List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="/Account/Register" asp-area="Identity" class="btn btn-primary"><i class="fas fa-plus"></i> &nbsp; Create New</a>
        </div>
    </div>
    <br /><br />
    <p class="hidden" id="success">@Model.Success.ToString()</p>
    <p class="hidden" id="message">@Model.Message</p>
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Full Name</th>
                <th scope="col">E-Mail</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Role(s)</th>
                <th scope="col">Lock/Unlock</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            @{
                foreach (var user in Model.Employees)
                {
                    <tr>
                        <td><!--atuser.FullName-->Full Name </td>
                        <td><!--atuser.Email-->Email</td>
                        <td><!--atuser.PhoneNumber-->Phone Number</td>
                        <td>
                            @{
                                if (Model.EmployeeRoles[user.EmployeeID].Count() == 1)
                                {
                                    @Model.EmployeeRoles[user.EmployeeID].First()
                                }
                                else
                                {
                                    <ul>
                                        @{
                                            foreach (var r in Model.EmployeeRoles[user.EmployeeID])
                                            {
                                                <li>
                                                    @r
                                                </li>
                                            }
                                        }
                                    </ul>
                                }
                            }

                        </td>
                        <td>
                            <form method="post">
                                @{
                                    if (/*user.LockOutEnd > DateTime.Now*/true)
                                    {
                                        <button type="submit" class="btn btn-outline-warning" asp-page-handler="lockUnlock" asp-route-id="@user.EmployeeID"><i class="fas fa-lock-open"></i> Unlock</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-outline-warning" asp-page-handler="lockUnlock" asp-route-id="@user.EmployeeID"><i class="fas fa-lock"></i> Lock</button>
                                    }
                                }
                            </form>
                        </td>
                        <td>
                            <a class="btn btn-outline-success" asp-page="/Admin/Users/Update" asp-route-id="@user.EmployeeID">Update</a>

                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
@section Scripts {
    <script>
        function alertFunc() {
            var success = $("#success").html()
            var message = $("#message").html();
            console.log(success);
            console.log(message);
            if (success == "True") {
                toastr.success(message);
            };

        }
        window.onload = alertFunc();
    </script>
}



